<div class="center-screen">
  <mat-card>
    <mat-card-content>
      <button mat-raised-button routerLink="/services-add" style="color: whitesmoke;font-size: large;width:50%;background-color: #2F5D62" >NEW SERVICE</button>
      <button mat-raised-button routerLink="/services-update" style="color: whitesmoke;font-size: large;width:50%;background-color: #2F5D62">UPDATE SERVICE</button>
      <button mat-raised-button routerLink="/services-view" style="color: whitesmoke;font-size: large;width:50%;background-color: #2F5D62">VIEW SERVICE</button>
    </mat-card-content>
  </mat-card>
</div>
