
<!--<div class="link">-->
<!--    <a routerLink="/add-stock" routerLinkActive="active">ADD ITEM</a>-->
<!--</div>-->

<!--<div class="link">-->
<!--    <a routerLink="/update-stock" routerLinkActive="active">UPDATE ITEM</a>-->
<!--</div>-->

<!--<div class="link">-->
<!--    <a routerLink="/delete-stock" routerLinkActive="active">DELETE ITEM</a>-->
<!--</div>-->

<!--<div class="link">-->
<!--    <a routerLink="/stock-report" routerLinkActive="active">STOCK REPORT</a>-->
<!--</div>-->

<!--<div class="link">-->
<!--    <a routerLink="/admin-panel" routerLinkActive="active">Back</a>-->
<!--</div>-->
<!--<router-outlet></router-outlet>-->
<div class="center-screen">
  <mat-card>
    <mat-card-content>
      <button mat-raised-button routerLink="/add-stock" style="color: whitesmoke;font-size: large;width:50%;background-color: #2F5D62" >ADD ITEM</button>
      <button mat-raised-button routerLink="/update-stock" style="color: whitesmoke;font-size: large;width:50%;background-color: #2F5D62">UPDATE ITEM</button>
<!--      <button mat-raised-button routerLink="/delete-stock" style="color: whitesmoke;font-size: large;width:50%;background-color: #2F5D62">DELETE ITEM</button>-->
      <button mat-raised-button routerLink="/stock-report" style="color: whitesmoke;font-size: large;width:50%;background-color: #2F5D62">STOCK REPORT</button>
    </mat-card-content>

  </mat-card>

</div>
