<div class="center-screen">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="productForm" (ngSubmit)="addItem()">
        <h1>POS System Products</h1>
        <h3>ADD NEW PRODUCTS.</h3>
        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="PID" formControlName="pid" required>
          <mat-error>
            Please provide a valid pid
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <input matInput type="number" placeholder="Price" formControlName="price" required>
          <mat-error>
            Please provide a valid price
          </mat-error>
        </mat-form-field>


        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="Category" formControlName="category" required>
          <mat-error>
            Please provide a valid category
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput type="number" placeholder="Size" formControlName="size" required>
          <mat-error>
            Please provide a valid size
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="Color" formControlName="color" required>
          <mat-error>
            Please provide a valid color
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Brand</mat-label>
          <mat-select formControlName="brand" required>
            <mat-option value="Aarong">Aarong</mat-option>
            <mat-option value="Richman"> Richman</mat-option>
            <mat-option value="Cats Eye"> Cats Eye</mat-option>
            <mat-option value="Yellow"> Yellow</mat-option>
            <mat-option value="Ecstasy"> Ecstasy</mat-option>
            <mat-option value="Freeland"> Freeland</mat-option>
            <mat-option value="Dorjibari"> Dorjibari</mat-option>
            <mat-option value="Bata"> Bata</mat-option>
            <mat-option value="Apex"> Apex</mat-option>
            <mat-option value="Le Reve"> Le Reve</mat-option>
            <mat-option value="Kay Kraft"> Kay Kraft</mat-option>
            <mat-option value="Anjan's"> Anjan's</mat-option>
          </mat-select>
          <mat-error>
            Please select an option
          </mat-error>
        </mat-form-field>



        <mat-form-field appearance="fill">
          <input matInput type="text" placeholder="Date Of Entry" formControlName="date_of_entry" required>
          <mat-error>
            Please provide a valid Entry Date
          </mat-error>
        </mat-form-field>

        <button mat-raised-button  style="width:100%;background-color: #F38BA0;" type="submit">ADD PRODUCT</button>
      </form>
    </mat-card-content>

  </mat-card>
</div>
