 mat-card {
  background-color: #FFDADA;
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
  color: white;
  font-size: medium;
}

 mat-form-field {
   width: 100%;
   padding: 5px 5px;
}


/* mat-card {*/
/*  background-color: #CEE5D0;*/
/*  max-width: 65%;*/
/*  margin: 2em auto;*/
/*  text-align: center;*/
/*  color: white;*/
/*  font-size: medium;*/
/*}*/

/*mat-form-field {*/
/*  width: 47%;*/
/*  padding: 5px 5px;*/
/*}*/

input{
  color: black;
  font-size: medium;
}
button{
  color: white;
  font-size: medium;
}




table {
  background-color: #CEE5D0;
  width: 80%;
  margin: 2em auto;

}

th{
  color: #1a3b29;
  font-size: large;
}
td{

  color: #2F5D62;
  font-size: medium;
}
