<div class="center-screen">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="updateForm" (ngSubmit)="updateUserProfile()">
        <h1>USER PROFILE</h1>
        <mat-form-field appearance="fill">
          <input matInput readonly type="text" placeholder="Username" formControlName="username" required>
          <mat-error>
            Please provide a valid username
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Please provide a valid password
          </mat-error>
        </mat-form-field>
        <mat-form-field  appearance="fill">
          <input  matInput type="text" readonly placeholder="User Role" formControlName="role" required>
          <mat-error>
            Please provide a valid role
          </mat-error>
        </mat-form-field>
        <button mat-raised-button  style="width:100%;background-color: teal;"
                type="submit">UPDATE</button>
      </form>
    </mat-card-content>

  </mat-card>
</div>
