<mat-card-title   style="color: darkslategray;text-align: center;padding: 20px;"><h1>WELCOME TO ADMIN PANEL</h1></mat-card-title>

<!--<div class="link">-->
<!--    <a routerLink="/manage-stock" routerLinkActive="active">MANAGE STOCK</a>-->
<!--</div>-->

<!--<div class="link">-->
<!--    <a routerLink="/sales-report" routerLinkActive="active">SALES REPORT</a>-->
<!--</div>-->

<!--<div class="link">-->
<!--    <a routerLink="/register" routerLinkActive="active">STAFF REGISTRATION</a>-->
<!--</div>-->

<!--<div class="link">-->
<!--    <a routerLink="/profile" routerLinkActive="active">PROFILE</a>-->
<!--</div>-->

<!--<router-outlet></router-outlet>-->

<mat-tab-group mat-align-tabs="center">
  <mat-tab label="MANAGE STOCK"><app-manage-stock></app-manage-stock></mat-tab>
  <mat-tab label="SALES REPORT"><app-sales-report></app-sales-report></mat-tab>
  <mat-tab label="STAFF REGISTRATION"><app-register></app-register></mat-tab>
  <mat-tab label="User Profile"><app-profile></app-profile></mat-tab>
</mat-tab-group>
