mat-card {
  background-color: #93D9A3;
  max-width: 400px;
  margin: 2em auto;
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-size: medium;
}

mat-form-field {
  display: block;
}
input{
  color: white;
  font-size: medium;
}
button{
  color: white;
  font-size: medium;
}
